/* === General Styles === */
/* === Vars === */
:root {
    /* = Colors = */
    --FC-primary-color: #febf30;
    --FC-secondary-color: #c78a2e;
    --FC-tertiary-color: #f4a022;
    --FC-black: #000000;
    --FC-charcoal: #343434;
    --FC-near-white: #fcf8ef;
    --FC-white: #ffffff;
    /* = Standard Colors = */
    --FC-standard-text-color: var(--FC-charcoal);
    --FC-heading-color: var(--FC-charcoal);
    /* = Fonts = */
    --FC-primary-font: "Red Hat Display", sans-serif;
    --FC-secondary-font: "Libre Baskerville", serif;
    --FC-body-font: var(--FC-primary-font);
    --FC-heading-font: var(--FC-secondary-font);
    /* = Font Sizes = */
    --FC-font-size-10: 0.625rem;
    --FC-font-size-11: 0.6875rem;
    --FC-font-size-12: 0.75rem;
    --FC-font-size-13: 0.8125rem;
    --FC-font-size-14: 0.875rem;
    --FC-font-size-15: 0.9375rem;
    --FC-font-size-16: 1rem;
    --FC-font-size-17: 1.0625rem;
    --FC-font-size-18: 1.125rem;
    --FC-font-size-19: 1.1875rem;
    --FC-font-size-20: 1.25rem;
    --FC-font-size-21: 1.3125rem;
    --FC-font-size-22: 1.375rem;
    --FC-font-size-24: 1.5rem;
    --FC-font-size-26: 1.625rem;
    --FC-font-size-28: 1.75rem;
    --FC-font-size-30: 1.875rem;
    --FC-font-size-32: 2rem;
    --FC-font-size-34: 2.125rem;
    --FC-font-size-36: 2.25rem;
    --FC-font-size-38: 2.375rem;
    --FC-font-size-40: 2.5rem;
    --FC-font-size-42: 2.625rem;
    --FC-font-size-44: 2.75rem;
    --FC-font-size-46: 2.875rem;
    --FC-font-size-48: 3rem;
    --FC-font-size-50: 3.125rem;
    --FC-font-size-52: 3.25rem;
    --FC-font-size-54: 3.375rem;
    --FC-font-size-56: 3.5rem;
    --FC-font-size-58: 3.625rem;
    --FC-font-size-60: 3.75rem;
    --FC-font-size-62: 3.875rem;
    --FC-font-size-64: 4rem;
    --FC-font-size-66: 4.125rem;
    --FC-font-size-68: 4.25rem;
    --FC-font-size-70: 4.375rem;
    /* = Set Default Font size = */
    --FC-standard-font-size: var(--FC-font-size-21);
    --FC-heading-size: var(--FC-font-size-44);
    --FC-small-heading-size: var(--FC-font-size-21);
    --FC-large-heading-size: var(--FC-font-size-56);
    --FC-larger-heading-size: var(--FC-font-size-56);
    /* = Line Heights = */
    --FC-line-height: 1.2;
    --FC-line-height-large: 1.6;
    --FC-line-height-small: 1;
    /* = Font Weights = */
    --FC-standard-weight: 400;
    --FC-heading-weight: 700;
    /* = Transitions = */
    --FC-transition-multiplier: 0.155s;
    --FC-short-transition: all calc(var(--FC-transition-multiplier) / 2) ease-in;
    --FC-default-transition: all var(--FC-transition-multiplier) ease-in;
    --FC-long-transition: all calc(var(--FC-transition-multiplier) * 2) ease-in;
    /* = Utilities = */
    --FC-standard-multiplier: 16px;
    --FC-standard-radius: 8px;
    --FC-standard-box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.35);
    --FC-slim-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
  }
  @media screen and (max-width: 991.98px) {
    :root {
      /* = Font Sizes = */
      /* == Reducing by 25% for mobile == */
      --FC-font-size-10: 0.46875rem;
      --FC-font-size-11: 0.515625rem;
      --FC-font-size-12: 0.5625rem;
      --FC-font-size-13: 0.609375rem;
      --FC-font-size-14: 0.65625rem;
      --FC-font-size-15: 0.703125rem;
      --FC-font-size-16: 0.75rem;
      --FC-font-size-17: 0.796875rem;
      --FC-font-size-18: 0.84375rem;
      --FC-font-size-19: 0.890625rem;
      --FC-font-size-20: 0.9375rem;
      --FC-font-size-22: 1.03125rem;
      --FC-font-size-24: 1.125rem;
      --FC-font-size-26: 1.21875rem;
      --FC-font-size-28: 1.3125rem;
      --FC-font-size-30: 1.40625rem;
      --FC-font-size-32: 1.5rem;
      --FC-font-size-34: 1.59375rem;
      --FC-font-size-36: 1.6875rem;
      --FC-font-size-38: 1.78125rem;
      --FC-font-size-40: 1.875rem;
      --FC-font-size-42: 1.96875rem;
      --FC-font-size-44: 2.0625rem;
      --FC-font-size-46: 2.15625rem;
      --FC-font-size-48: 2.25rem;
      --FC-font-size-50: 2.34375rem;
      --FC-font-size-52: 2.4375rem;
      --FC-font-size-54: 2.53125rem;
      --FC-font-size-56: 2.625rem;
      --FC-font-size-58: 2.71875rem;
      --FC-font-size-60: 2.8125rem;
      --FC-font-size-62: 2.90625rem;
      --FC-font-size-64: 3rem;
      --FC-font-size-66: 3.09375rem;
      --FC-font-size-68: 3.1875rem;
      --FC-font-size-70: 3.28125rem;
    }
  }
  /* === Colors === */
  .color__primary {
    color: var(--FC-primary-color) !important;
  }
  .color__secondary {
    color: var(--FC-secondary-color) !important;
  }
  .color__tertiary {
    color: var(--FC-tertiary-color) !important;
  }
  .color__black {
    color: var(--FC-standard-text-color) !important;
  }
  .color__charcoal {
    color: var(--FC-charcoal);
  }
  .color__white {
    color: var(--FC-white) !important;
  }
  /* = Hovers = */
  .hover__primary:hover {
    color: var(--FC-primary-color) !important;
  }
  .hover__secondary:hover {
    color: var(--FC-secondary-color) !important;
  }
  .hover__tertiary:hover {
    color: var(--FC-tertiary-color) !important;
  }
  .hover__white:hover {
    color: var(--FC-white);
  }
  .hover__charcoal:hover {
    color: var(--FC-charcoal) !important;
  }
  .hover__black:hover {
    color: var(--FC-black) !important;
  }
  /* === Fonts === */
  /* == Text Reset == */
  body,
  button,
  select,
  textarea,
  p,
  ul,
  ol,
  li,
  div,
  input,
  blockquote {
    font-size: var(--FC-standard-font-size);
    font-weight: var(--FC-standard-weight);
    font-family: var(--FC-body-font);
    color: var(--FC-editor-color, var(--FC-standard-text-color));
  }
  .site-inner a {
    color: var(--FC-primary-color);
  }
  span,
  em,
  strong,
  b {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--FC-heading-font);
    color: var(--FC-editor-color, var(--FC-heading-color));
    font-size: var(--FC-heading-size);
    font-weight: var(--FC-heading-weight);
    line-height: var(--FC-line-height);
  }
  /* = Sizes = */
  .font__size_10 {
    font-size: var(--FC-font-size-10) !important;
  }
  .font__size_11 {
    font-size: var(--FC-font-size-11) !important;
  }
  .font__size_12 {
    font-size: var(--FC-font-size-12) !important;
  }
  .font__size_13 {
    font-size: var(--FC-font-size-13) !important;
  }
  .font__size_14 {
    font-size: var(--FC-font-size-14) !important;
  }
  .font__size_15 {
    font-size: var(--FC-font-size-15) !important;
  }
  .font__size_16 {
    font-size: var(--FC-font-size-16) !important;
  }
  .font__size_17 {
    font-size: var(--FC-font-size-17) !important;
  }
  .font__size_18 {
    font-size: var(--FC-font-size-18) !important;
  }
  .font__size_19 {
    font-size: var(--FC-font-size-19) !important;
  }
  .font__size_20 {
    font-size: var(--FC-font-size-20) !important;
  }
  .font__size_22 {
    font-size: var(--FC-font-size-22) !important;
  }
  .font__size_24 {
    font-size: var(--FC-font-size-24) !important;
  }
  .font__size_26 {
    font-size: var(--FC-font-size-26) !important;
  }
  .font__size_28 {
    font-size: var(--FC-font-size-28) !important;
  }
  .font__size_30 {
    font-size: var(--FC-font-size-30) !important;
  }
  .font__size_32 {
    font-size: var(--FC-font-size-32) !important;
  }
  .font__size_34 {
    font-size: var(--FC-font-size-34) !important;
  }
  .font__size_36 {
    font-size: var(--FC-font-size-36) !important;
  }
  .font__size_38 {
    font-size: var(--FC-font-size-38) !important;
  }
  .font__size_40 {
    font-size: var(--FC-font-size-40) !important;
  }
  .font__size_42 {
    font-size: var(--FC-font-size-42) !important;
  }
  .font__size_44 {
    font-size: var(--FC-font-size-44) !important;
  }
  .font__size_46 {
    font-size: var(--FC-font-size-46) !important;
  }
  .font__size_48 {
    font-size: var(--FC-font-size-48) !important;
  }
  .font__size_50 {
    font-size: var(--FC-font-size-50) !important;
  }
  .font__size_52 {
    font-size: var(--FC-font-size-52) !important;
  }
  .font__size_54 {
    font-size: var(--FC-font-size-54) !important;
  }
  .font__size_56 {
    font-size: var(--FC-font-size-56) !important;
  }
  .font__size_58 {
    font-size: var(--FC-font-size-58) !important;
  }
  .font__size_60 {
    font-size: var(--FC-font-size-60) !important;
  }
  .font__size_62 {
    font-size: var(--FC-font-size-62) !important;
  }
  .font__size_64 {
    font-size: var(--FC-font-size-64) !important;
  }
  .font__size_66 {
    font-size: var(--FC-font-size-66) !important;
  }
  .font__size_68 {
    font-size: var(--FC-font-size-68) !important;
  }
  .font__size_70 {
    font-size: var(--FC-font-size-70) !important;
  }
  /* = Gutenberg Sizes = */
  .has-small-font-size {
    font-size: var(--FC-small-size);
  }
  .has-normal-font-size {
    font-size: var(--FC-standard-font-size);
  }
  .has-large-font-size {
    font-size: var(--FC-large-size);
  }
  .has-larger-font-size {
    font-size: var(--FC-larger-size);
  }
  .wp-block-heading {
    font-size: var(--FC-heading-size);
  }
  .wp-block-heading.has-small-font-size {
    font-size: var(--FC-small-heading-size);
    font-family: var(--FC-primary-font);
  }
  .wp-block-heading.has-normal-font-size {
    font-size: var(--FC-heading-size);
  }
  .wp-block-heading.has-large-font-size {
    font-size: var(--FC-large-heading-size);
  }
  .wp-block-heading.has-larger-font-size {
    font-size: var(--FC-larger-heading-size);
  }
  /* = Heights = */
  .line__height_25 {
    line-height: var(--FC-line-height-25) !important;
  }
  .line__height_50 {
    line-height: var(--FC-line-height-50) !important;
  }
  .line__height_92 {
    line-height: var(--FC-line-height-92) !important;
  }
  /* == Weights == */
  .font__weight_1 {
    font-weight: 100 !important;
  }
  .font__weight_2 {
    font-weight: 200 !important;
  }
  .font__weight_3 {
    font-weight: 300 !important;
  }
  .font__weight_4 {
    font-weight: 400 !important;
  }
  .font__weight_5 {
    font-weight: 500 !important;
  }
  .font__weight_6 {
    font-weight: 600 !important;
  }
  .font__weight_7 {
    font-weight: 700 !important;
  }
  /* = Families = */
  .font__primary {
    font-family: var(--FC-primary-font) !important;
  }
  .font__secondary {
    font-family: var(--FC-secondary-font) !important;
  }
  .font__tertiary {
    font-family: var(--FC-tertiary-font) !important;
  }
  /* === Buttons === */
  /* == Style Buttons Here == */
  /* Color, border-color, and background color can also be set within gutenberg */
  .custom__button,
  .site-inner .wp-block-button__link {
    color: var(--FC-editor-color, var(--FC-charcoal));
    background-color: transparent;
    border-radius: 0 !important;
    border-color: var(--FC-charcoal);
    border-width: 0px !important;
    border-bottom-width: 2px !important;
    border-style: solid !important;
    padding: 8px 0px 8px 0px !important;
    font-family: var(--FC-primary-font) !important;
    font-size: var(--FC-font-size-16) !important;
    position: relative !important;
    transition: var(--FC-default-transition) !important;
    box-shadow: none !important;
    font-weight: 700 !important;
    text-align: center;
    position: relative;
    text-transform: uppercase;
  }
  .site-inner .wp-block-button__link::after {
    content: "";
    height: 2px;
    width: 0%;
    background-color: var(--FC-editor-bg-color, var(--FC-primary-color));
    left: 0;
    bottom: -2px;
    position: absolute;
    transition: var(--FC-default-transition);
  }
  .custom__button:hover::after,
  .custom__button:focus::after,
  .site-inner .wp-block-button__link:hover::after,
  .site-inner .wp-block-button__link:focus::after {
    width: 100%;
  }
  /* = Secondary Styles = */
  .button__secondary,
  .button__secondary .wp-block-button__link {
    color: var(--FC-white) !important;
    border-color: var(--FC-secondary-color) !important;
    background-color: var(--FC-secondary-color) !important;
  }
  .button__secondary:hover,
  .button__secondary:focus,
  .button__secondary .wp-block-button__link:hover,
  .button__secondary .wp-block-button__link:focus {
    color: var(--FC-secondary-color) !important;
    border-color: var(--FC-secondary-color) !important;
    background-color: var(--FC-white) !important;
  }
  /* = Tertiary Styles = */
  .button__tertiary,
  .button__tertiary .wp-block-button__link {
    color: var(--FC-white) !important;
    border-color: var(--FC-tertiary-color) !important;
    background-color: var(--FC-tertiary-color) !important;
  }
  .button__tertiary:hover,
  .button__tertiary:focus,
  .button__tertiary .wp-block-button__link:hover,
  .button__tertiary .wp-block-button__link:focus {
    color: var(--FC-tertiary-color) !important;
    border-color: var(--FC-tertiary-color) !important;
    background-color: var(--FC-white) !important;
  }
  /* = Button dark bg = */
  .dark-background .wp-block-button__link {
    color: var(--FC-near-white);
    border-bottom-color: var(--FC-near-white);
  }
  /* = Resetting the Button Wrapper = */
  .wp-block-button {
    padding: 0px var(--FC-standard-multiplier);
    background-color: transparent !important;
    overflow: hidden !important;
    border-color: transparent !important;
  }
  /* === Utility === */
  img {
    max-width: 100%;
  }
  /* == Display == */
  .hidden {
    display: none;
  }
  .d__inline_block {
    display: inline-block;
  }
  @media screen and (max-width: 1399.98px) {
    .xxl__hide {
      display: none;
    }
  }
  @media screen and (max-width: 1199.98px) {
    .xl__hide {
      display: none;
    }
  }
  @media screen and (max-width: 991.98px) {
    .lg__hide {
      display: none;
    }
  }
  @media screen and (max-width: 767.98px) {
    .md__hide {
      display: none;
    }
  }
  @media screen and (max-width: 559.98px) {
    .sm__hide {
      display: none;
    }
  }
  /* == Margin == */
  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    margin-top: 0;
    margin-bottom: calc(var(--FC-standard-multiplier) / 2);
  }
  p {
    margin-top: 0;
    margin-bottom: var(--FC-standard-multiplier);
  }
  .standard__margin {
    margin: var(--FC-standard-multiplier) !important;
  }
  .standard__margin_top {
    margin-top: var(--FC-standard-multiplier) !important;
  }
  .standard__margin_right {
    margin-right: var(--FC-standard-multiplier) !important;
  }
  .standard__margin_bottom {
    margin-bottom: var(--FC-standard-multiplier) !important;
  }
  .standard__margin_left {
    margin-left: var(--FC-standard-multiplier) !important;
  }
  /* = Double Margin = */
  .double__margin {
    margin: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__margin_top {
    margin-top: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__margin_right {
    margin-right: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__margin_bottom {
    margin-bottom: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__margin_left {
    margin-left: calc(var(--FC-standard-multiplier) * 2);
  }
  /* = No Margin = */
  .no__margin {
    margin: 0px !important;
  }
  .no__margin_top {
    margin-top: 0px !important;
  }
  .no__margin_right {
    margin-right: 0px !important;
  }
  .no__margin_bottom {
    margin-bottom: 0px !important;
  }
  .no__margin_left {
    margin-left: 0px !important;
  }
  /* == Mobile Margin == */
  @media screen and (max-width: 1399.98px) {
    .xxl__standard_margin {
      margin: var(--FC-standard-multiplier) !important;
    }
    .xxl__standard_margin_top {
      margin-top: var(--FC-standard-multiplier) !important;
    }
    .xxl__standard_margin_right {
      margin-right: var(--FC-standard-multiplier) !important;
    }
    .xxl__standard_margin_bottom {
      margin-bottom: var(--FC-standard-multiplier) !important;
    }
    .xxl__standard_margin_left {
      margin-left: var(--FC-standard-multiplier) !important;
    }
    /* = Double Margin = */
    .xxl__double_margin {
      margin: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_margin_top {
      margin-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_margin_right {
      margin-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_margin_bottom {
      margin-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_margin_left {
      margin-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Margin = */
    .xxl__no_margin {
      margin: 0px !important;
    }
    .xxl__no_margin_top {
      margin-top: 0px !important;
    }
    .xxl__no_margin_right {
      margin-right: 0px !important;
    }
    .xxl__no_margin_bottom {
      margin-bottom: 0px !important;
    }
    .xxl__no_margin_left {
      margin-left: 0px !important;
    }
  }
  @media screen and (max-width: 1199.98px) {
    .xl__standard_margin {
      margin: var(--FC-standard-multiplier) !important;
    }
    .xl__standard_margin_top {
      margin-top: var(--FC-standard-multiplier) !important;
    }
    .xl__standard_margin_right {
      margin-right: var(--FC-standard-multiplier) !important;
    }
    .xl__standard_margin_bottom {
      margin-bottom: var(--FC-standard-multiplier) !important;
    }
    .xl__standard_margin_left {
      margin-left: var(--FC-standard-multiplier) !important;
    }
    /* = Double Margin = */
    .xl__double_margin {
      margin: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_margin_top {
      margin-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_margin_right {
      margin-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_margin_bottom {
      margin-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_margin_left {
      margin-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Margin = */
    .xl__no_margin {
      margin: 0px !important;
    }
    .xl__no_margin_top {
      margin-top: 0px !important;
    }
    .xl__no_margin_right {
      margin-right: 0px !important;
    }
    .xl__no_margin_bottom {
      margin-bottom: 0px !important;
    }
    .xl__no_margin_left {
      margin-left: 0px !important;
    }
  }
  @media screen and (max-width: 991.98px) {
    .lg__standard_margin {
      margin: var(--FC-standard-multiplier) !important;
    }
    .lg__standard_margin_top {
      margin-top: var(--FC-standard-multiplier) !important;
    }
    .lg__standard_margin_right {
      margin-right: var(--FC-standard-multiplier) !important;
    }
    .lg__standard_margin_bottom {
      margin-bottom: var(--FC-standard-multiplier) !important;
    }
    .lg__standard_margin_left {
      margin-left: var(--FC-standard-multiplier) !important;
    }
    /* = Double Margin = */
    .lg__double_margin {
      margin: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_margin_top {
      margin-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_margin_right {
      margin-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_margin_bottom {
      margin-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_margin_left {
      margin-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Margin = */
    .lg__no_margin {
      margin: 0px !important;
    }
    .lg__no_margin_top {
      margin-top: 0px !important;
    }
    .lg__no_margin_right {
      margin-right: 0px !important;
    }
    .lg__no_margin_bottom {
      margin-bottom: 0px !important;
    }
    .lg__no_margin_left {
      margin-left: 0px !important;
    }
  }
  @media screen and (max-width: 767.98px) {
    .md__standard_margin {
      margin: var(--FC-standard-multiplier) !important;
    }
    .md__standard_margin_top {
      margin-top: var(--FC-standard-multiplier) !important;
    }
    .md__standard_margin_right {
      margin-right: var(--FC-standard-multiplier) !important;
    }
    .md__standard_margin_bottom {
      margin-bottom: var(--FC-standard-multiplier) !important;
    }
    .md__standard_margin_left {
      margin-left: var(--FC-standard-multiplier) !important;
    }
    /* = Double Margin = */
    .md__double_margin {
      margin: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_margin_top {
      margin-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_margin_right {
      margin-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_margin_bottom {
      margin-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_margin_left {
      margin-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Margin = */
    .md__no_margin {
      margin: 0px !important;
    }
    .md__no_margin_top {
      margin-top: 0px !important;
    }
    .md__no_margin_right {
      margin-right: 0px !important;
    }
    .md__no_margin_bottom {
      margin-bottom: 0px !important;
    }
    .md__no_margin_left {
      margin-left: 0px !important;
    }
  }
  @media screen and (max-width: 559.98px) {
    .sm__standard_margin {
      margin: var(--FC-standard-multiplier) !important;
    }
    .sm__standard_margin_top {
      margin-top: var(--FC-standard-multiplier) !important;
    }
    .sm__standard_margin_right {
      margin-right: var(--FC-standard-multiplier) !important;
    }
    .sm__standard_margin_bottom {
      margin-bottom: var(--FC-standard-multiplier) !important;
    }
    .sm__standard_margin_left {
      margin-left: var(--FC-standard-multiplier) !important;
    }
    /* = Double Margin = */
    .sm__double_margin {
      margin: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_margin_top {
      margin-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_margin_right {
      margin-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_margin_bottom {
      margin-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_margin_left {
      margin-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Margin = */
    .sm__no_margin {
      margin: 0px !important;
    }
    .sm__no_margin_top {
      margin-top: 0px !important;
    }
    .sm__no_margin_right {
      margin-right: 0px !important;
    }
    .sm__no_margin_bottom {
      margin-bottom: 0px !important;
    }
    .sm__no_margin_left {
      margin-left: 0px !important;
    }
  }
  /* == Padding == */
  .standard__padding {
    padding: var(--FC-standard-multiplier);
  }
  .standard__padding_top {
    padding-top: var(--FC-standard-multiplier);
  }
  .standard__padding_right {
    padding-right: var(--FC-standard-multiplier);
  }
  .standard__padding_bottom {
    padding-bottom: var(--FC-standard-multiplier);
  }
  .standard__padding_left {
    padding-left: var(--FC-standard-multiplier);
  }
  /* = Double Padding = */
  .double__padding {
    padding: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__padding_top {
    padding-top: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__padding_right {
    padding-right: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__padding_bottom {
    padding-bottom: calc(var(--FC-standard-multiplier) * 2);
  }
  .double__padding_left {
    padding-left: calc(var(--FC-standard-multiplier) * 2);
  }
  /* = No Padding = */
  .no__padding {
    padding: 0px !important;
  }
  .no__padding_top {
    padding-top: 0px !important;
  }
  .no__padding_right {
    padding-right: 0px !important;
  }
  .no__padding_bottom {
    padding-bottom: 0px !important;
  }
  .no__padding_left {
    padding-left: 0px !important;
  }
  /* == Mobile Padding == */
  @media screen and (max-width: 1399.98px) {
    .xxl__standard_padding {
      padding: var(--FC-standard-multiplier);
    }
    .xxl__standard_padding_top {
      padding-top: var(--FC-standard-multiplier);
    }
    .xxl__standard_padding_right {
      padding-right: var(--FC-standard-multiplier);
    }
    .xxl__standard_padding_bottom {
      padding-bottom: var(--FC-standard-multiplier);
    }
    .xxl__standard_padding_left {
      padding-left: var(--FC-standard-multiplier);
    }
    /* = Double Padding = */
    .xxl__double_padding {
      padding: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_padding_top {
      padding-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_padding_right {
      padding-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_padding_bottom {
      padding-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .xxl__double_padding_left {
      padding-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Padding = */
    .xxl__no_padding {
      padding: 0px !important;
    }
    .xxl__no_padding_top {
      padding-top: 0px !important;
    }
    .xxl__no_padding_right {
      padding-right: 0px !important;
    }
    .xxl__no_padding_bottom {
      padding-bottom: 0px !important;
    }
    .xxl__no_padding_left {
      padding-left: 0px !important;
    }
  }
  @media screen and (max-width: 1199.98px) {
    .xl__standard_padding {
      padding: var(--FC-standard-multiplier);
    }
    .xl__standard_padding_top {
      padding-top: var(--FC-standard-multiplier);
    }
    .xl__standard_padding_right {
      padding-right: var(--FC-standard-multiplier);
    }
    .xl__standard_padding_bottom {
      padding-bottom: var(--FC-standard-multiplier);
    }
    .xl__standard_padding_left {
      padding-left: var(--FC-standard-multiplier);
    }
    /* = Double Padding = */
    .xl__double_padding {
      padding: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_padding_top {
      padding-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_padding_right {
      padding-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_padding_bottom {
      padding-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .xl__double_padding_left {
      padding-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Padding = */
    .xl__no_padding {
      padding: 0px !important;
    }
    .xl__no_padding_top {
      padding-top: 0px !important;
    }
    .xl__no_padding_right {
      padding-right: 0px !important;
    }
    .xl__no_padding_bottom {
      padding-bottom: 0px !important;
    }
    .xl__no_padding_left {
      padding-left: 0px !important;
    }
  }
  @media screen and (max-width: 991.98px) {
    .lg__standard_padding {
      padding: var(--FC-standard-multiplier);
    }
    .lg__standard_padding_top {
      padding-top: var(--FC-standard-multiplier);
    }
    .lg__standard_padding_right {
      padding-right: var(--FC-standard-multiplier);
    }
    .lg__standard_padding_bottom {
      padding-bottom: var(--FC-standard-multiplier);
    }
    .lg__standard_padding_left {
      padding-left: var(--FC-standard-multiplier);
    }
    /* = Double Padding = */
    .lg__double_padding {
      padding: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_padding_top {
      padding-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_padding_right {
      padding-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_padding_bottom {
      padding-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .lg__double_padding_left {
      padding-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Padding = */
    .lg__no_padding {
      padding: 0px !important;
    }
    .lg__no_padding_top {
      padding-top: 0px !important;
    }
    .lg__no_padding_right {
      padding-right: 0px !important;
    }
    .lg__no_padding_bottom {
      padding-bottom: 0px !important;
    }
    .lg__no_padding_left {
      padding-left: 0px !important;
    }
  }
  @media screen and (max-width: 767.98px) {
    .md__standard_padding {
      padding: var(--FC-standard-multiplier);
    }
    .md__standard_padding_top {
      padding-top: var(--FC-standard-multiplier);
    }
    .md__standard_padding_right {
      padding-right: var(--FC-standard-multiplier);
    }
    .md__standard_padding_bottom {
      padding-bottom: var(--FC-standard-multiplier);
    }
    .md__standard_padding_left {
      padding-left: var(--FC-standard-multiplier);
    }
    /* = Double Padding = */
    .md__double_padding {
      padding: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_padding_top {
      padding-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_padding_right {
      padding-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_padding_bottom {
      padding-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .md__double_padding_left {
      padding-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Padding = */
    .md__no_padding {
      padding: 0px !important;
    }
    .md__no_padding_top {
      padding-top: 0px !important;
    }
    .md__no_padding_right {
      padding-right: 0px !important;
    }
    .md__no_padding_bottom {
      padding-bottom: 0px !important;
    }
    .md__no_padding_left {
      padding-left: 0px !important;
    }
  }
  @media screen and (max-width: 559.98px) {
    .sm__standard_padding {
      padding: var(--FC-standard-multiplier);
    }
    .sm__standard_padding_top {
      padding-top: var(--FC-standard-multiplier);
    }
    .sm__standard_padding_right {
      padding-right: var(--FC-standard-multiplier);
    }
    .sm__standard_padding_bottom {
      padding-bottom: var(--FC-standard-multiplier);
    }
    .sm__standard_padding_left {
      padding-left: var(--FC-standard-multiplier);
    }
    /* = Double Padding = */
    .sm__double_padding {
      padding: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_padding_top {
      padding-top: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_padding_right {
      padding-right: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_padding_bottom {
      padding-bottom: calc(var(--FC-standard-multiplier) * 2);
    }
    .sm__double_padding_left {
      padding-left: calc(var(--FC-standard-multiplier) * 2);
    }
    /* = No Padding = */
    .sm__no_padding {
      padding: 0px !important;
    }
    .sm__no_padding_top {
      padding-top: 0px !important;
    }
    .sm__no_padding_right {
      padding-right: 0px !important;
    }
    .sm__no_padding_bottom {
      padding-bottom: 0px !important;
    }
    .sm__no_padding_left {
      padding-left: 0px !important;
    }
  }
  /* == Index == */
  .z__index_10 {
    z-index: 10;
  }
  .z__index_20 {
    z-index: 20;
  }
  .z__index_30 {
    z-index: 30;
  }
  .z__index_40 {
    z-index: 40;
  }
  .z__index_50 {
    z-index: 50;
  }
  .z__index_60 {
    z-index: 60;
  }
  .z__index_70 {
    z-index: 70;
  }
  .z__index_80 {
    z-index: 80;
  }
  .z__index_90 {
    z-index: 90;
  }
  .z__index_100 {
    z-index: 100;
  }
  /* == Shadows == */
  .standard__box_shadow {
    box-shadow: var(--FC-standard-box-shadow);
  }
  /* == Text Align == */
  .text_align_center {
    text-align: center !important;
  }
  .text_align_left {
    text-align: left !important;
  }
  .text_align_right {
    text-align: right !important;
  }
  /* === Backgrounds === */
  .bg__primary {
    background-color: var(--FC-primary-color) !important;
  }
  .bg__secondary {
    background-color: var(--FC-secondary-color) !important;
  }
  .bg__tertiary {
    background-color: var(--FC-tertiary-color) !important;
  }
  .bg__white {
    background-color: var(--FC-white) !important;
  }
  .bg__charcoal {
    background-color: var(--FC-charcoal) !important;
  }
  .bg__black {
    background-color: var(--FC-black) !important;
  }
  /* == Custom Flex Classes == */
  .alignMiddleCenter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .alignTopCenter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }
  .alignTopLeft {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .alignMiddle {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }
  .alignBottom {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .alignSeperate {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
  }
  /* === Animation Setup === */
  .animate,
  .navAnimate {
    --_animation-duration: var(
      --_inline-duration,
      var(--FC-transition-multiplier)
    );
    transition: all var(--_animation-duration) ease-in;
    position: relative !important;
    opacity: 0;
  }
  .animate.begin,
  .navAnimate.begin {
    opacity: 1;
  }
  /* == Animations ==
   * Animations should be handled with transforms to prevent the dom from
   * breaking and that way they can all be handled with classes.
   */
  /* == Up == */
  .animate.fade-up,
  .navAnimate.fade-up {
    transform: translateY(64px);
  }
  .animate.fade-up.begin,
  .navAnimate.fade-up.begin {
    transform: translateY(0px);
  }
  /* == Right == */
  .animate.fade-right {
    transform: translateX(-64px);
  }
  .animate.fade-right.begin {
    transform: translateX(0px);
  }
  /* == Down == */
  .animate.fade-down {
    transform: translateY(-64px);
  }
  .animate.fade-down.begin {
    transform: translateY(0px);
  }
  /* == Left == */
  .animate.fade-left {
    transform: translateX(64px);
  }
  .animate.fade-left.begin {
    transform: translateX(0px);
  }
  /* == Mobile Nav Animations == */
  /* = Up = */
  .navAnimate.fade-up {
    transform: translateY(32px);
  }
  .navAnimate.fade-up.begin {
    transform: translateY(0px);
  }
  /* === Header Styles === */
  .header__spacer {
    height: 27px;
    background-color: var(--FC-near-white);
  }
  .navbar {
    background-color: var(--FC-near-white);
    transition: var(--FC-default-transition);
    padding-top: calc(0.5rem + 27px);
  }
  .sticky.navbar {
    padding-top: 0.5rem;
  }
  .navbar .navbar-brand {
    margin: 0px;
  }
  .navbar-brand__wrapper {
    height: 32px;
    width: 158px;
    position: relative;
    transition: var(--FC-default-transition);
    transform: scale(1);
    transform-origin: top center;
  }
  .site__logo {
    position: absolute;
    inset: 0;
    height: auto;
    width: 100%;
  }
  .sticky .navbar-brand__wrapper, .menuActive .navbar-brand__wrapper {
    transform: scale(0.8);
  }
  .navbar .navbar-nav a {
    font-size: var(--FC-font-size-16) !important;
    font-family: var(--FC-secondary-font) !important;
    color: var(--FC-charcoal) !important;
  }
  /* == Mobile Menu == */
  .mobile__menuToggler {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 900;
    display: none;
    pointer-events: all;
  }
  .mobile__menuToggler .menuToggler__icon {
    position: absolute;
    top: -56px;
    left: -55px;
    height: 150px;
    width: 150px;
  }
  .mobile__lottie {
    height: 150px;
    width: 150px;
  }
  .menuToggle {
    opacity: 0;
    transition: var(--FC-default-transition);
  }
  .active .menuToggle,
  .sticky .menuToggle {
    opacity: 1;
    transition-duration: 0;
  }
  .mobile__navContainer {
    position: fixed;
    height: 100%;
    height: 100svh;
    width: 100%;
    inset: 0;
    pointer-events: none;
    z-index: 100;
  }
  .mobile__navInner {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .mobile__navWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--FC-white);
    left: 0%;
    top: 0;
    opacity: 0;
    transition: var(--FC-default-transition);
    pointer-events: all;
    padding: 114px 0 0 0px;
    pointer-events: none;
  }
  .active .mobile__navWrapper {
    opacity: 1;
    pointer-events: all;
  }
  .mobile__menuRow{
    height: 100%;
    height: calc(100dvh - 114px);
  }
  .mobile__mainNav {
    max-width: 100%;
  }
  .header__mobilePhone i::before {
    color: var(--FC-charcoal);
  }
  .mobile__mainNav .menu-item {
    display: block;
    width: 100%;
  }
  .mobile__mainNav .menu-item a {
    display: block;
    color: var(--FC-charcoal) !important;
    font-weight: 400;
    transition: var(--FC-default-transition) !important;
    font-size: var(--FC-font-size-21);
    position: relative;
  }
  .mobile__mainNav .menu-item-has-children > a::after {
    right: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    transform-origin: center center;
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transition: var(--FC-default-transition);
    border-top-color: var(--FC-primary-color);
  }
  .mobile__mainNav .menu-item-has-children > a.open::after {
    transform: translateY(-50%) rotate(0deg);
  }
  .mobile__mainNav .menu-item .sub-menu {
    display: none;
  }
  .mobile__mainNav .open .sub-menu {
    display: block !important;
  }
  .mobile__mainNav .dropdown-item {
    padding: 0.5rem 1rem;
  }
  .mobile__headerSocials{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 16px;
  }
  .mobile__socialLink{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: solid var(--FC-charcoal) 2px;
    border-radius: 100%;
  }
  .mobile__socialLink ::before{
    color: var(--FC-primary-color);
  }
  /* == Header Breakpoint == */
  @media screen and (min-width: 992px) {
    .header__mobilePhone {
      display: none;
    }
    .mobile__navContainer {
      display: none;
    }
  }
  @media screen and (max-width: 991.98px) {
    .navbar {
      padding-top: 0.5rem;
    }
    .navbar-brand__wrapper {
      width: 126.4px;
    }
    .header__menuWrapper {
      display: none;
    }
    .mobile__menuToggler {
      display: block;
    }
  }
  /* === Begin Styles === */